{% extends "base.html" %}   

{% block title %}Kanban Board{% endblock %}


{% block menubar %}
  
  <li class="nav-item">
  <a class="nav-link link-light" data-bs-toggle="modal" data-bs-target="#create_ticket" href="">Create</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
  <a class="nav-link link-light" href="{% url 'logout' %}">Logout</a>
  {% comment %} <form action="{% url 'logout' %}" method="post"> {% endcomment %}
  {% else %}
  <li class="nav-item">
  <a class="nav-link link-light" href="{% url 'login' %}">Login</a>
  <li class="nav-item">
  <a class="nav-link link-light" href="{% url 'signup' %}">Signup</a>
  {% endif %}
{% endblock %}

{% block content%}
<div class="modal fade" id="Create_ticket" tabindex="-1" aria-labelledby="create_ticket_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticket_modal_title">Create Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <!-- Security token -->
          {% csrf_token %}
          <!-- Using the formset -->
          {{ form.as_p }}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

{% for x in tickets %}
<div class="mt-3">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">Ticket Title: {{x.ticket_title }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Ticket Description: {{x.ticket_description }}</p>
      <p class="card-text">Ticket Assigned: {{x.ticket_user }}</p>
    </div>
    <div class="card-footer">
    </div>   
  </div>
</div>
{% endfor %}


{% endblock %}
  
</div>

