<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <main>
    <div class="container-fluid">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/board">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/admin">Admin page</a>
          </li>
      {% block menubar %}
      
        
      {% endblock %}
      </ul>
    
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>

</html>